# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env

# Node.js
frontend/node_modules/
frontend/build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.dockerignore
**/Dockerfile

# Misc
*.swp
*.swo
